@charset "UTF-8";
/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input[type=submit], input[type=button] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

/* default styles */
html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-size: 2.4rem;
  font-family: ArialMT, "Hiragino Maru Gothic ProN", "\30D2\30E9\30AE\30CE\4E38\30B4   ProN W4", "\30E1\30A4\30EA\30AA", sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  line-height: 1.8;
  letter-spacing: normal !important; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

small {
  font-size: 2.0rem; }

mark {
  background-color: transparent; }

a:not([href]) {
  color: #999; }

a {
  text-decoration: none; }

#frame {
  width: auto !important;
  margin: 0 !important; }

.c-btn-skip {
  background: url(../../img/i/btn-skip-min.png) no-repeat;
  width: 235px;
  height: 60px;
  color: rgba(0, 0, 0, 0); }

.c-footer {
  padding: 38px 30px 43px;
  background-color: #fee9eb;
  color: #9e8e4c;
  font-size: 2rem;
  text-align: center; }
  .c-footer .c-footer__link {
    margin: 0 0 8px; }
  .c-footer .c-footer__link-children {
    padding: 0 7px;
    line-height: 2.0rem;
    display: inline-block;
    border-right: #9e8e4c solid 1px; }
    .c-footer .c-footer__link-children:nth-child(2), .c-footer .c-footer__link-children:last-child {
      border-right: none; }
  .c-footer .c-text-link {
    color: #9e8e4c; }

[data-tap-action] {
  pointer-events: auto; }

.adj-page-padding-x {
  padding: 0 responsiveX(13); }

.adj-page-line-height {
  line-height: 2rem; }

.adj-title-bottom.c-block-title {
  margin-bottom: 16px; }

.adj-icon-norton {
  width: 65px;
  height: 35px; }
  .adj-icon-norton img {
    width: 65px;
    height: 35px; }

.page-lp-reborn01 img {
  display: block; }

.page-lp-reborn01 .l-btn-registration {
  width: responsiveX(140, 278);
  display: block; }
  .page-lp-reborn01 .l-btn-registration:nth-of-type(1) {
    margin-right: 10px; }
  .page-lp-reborn01 .l-btn-registration img {
    width: 100%; }

.page-lp-reborn01 .l-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  padding: 10px 0;
  background-color: #e92377;
  color: #fff;
  font-size: 3rem;
  line-height: 1.4; }
  .page-lp-reborn01 .l-caption__small {
    font-size: 2rem; }
  .page-lp-reborn01 .l-caption__em {
    font-size: 4rem; }

.page-lp-reborn01 .block-registration.is-capture:before {
  display: none; }

.page-lp-reborn01 .block-registration:before {
  display: block;
  content: "";
  background-image: url(../../img/i/iqlp_reborn01_bg_text_registration_top-min.png);
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-size: 640px 22px;
  width: 100%;
  height: 22px; }

.page-lp-reborn01 .block-registration__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../../img/i/iqlp_reborn01_bg_text_registration_middle-min.png);
  background-position: 0 0;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  background-size: 100% auto;
  padding: 10px 0; }

.page-lp-reborn01 .block-registration:after {
  display: block;
  content: "";
  background-image: url(../../img/i/iqlp_reborn01_bg_text_registration_bottom-min.png);
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-size: 640px 22px;
  width: 100%;
  height: 22px; }

.page-lp-reborn01 .l-em {
  color: #fe0000; }

.page-lp-reborn01 .l-notice {
  margin: 0 28px 48px; }
  .page-lp-reborn01 .l-notice li {
    text-indent: -2.0rem;
    padding: 0 0 6px 20px;
    line-height: 1.4;
    font-size: 2.0rem;
    color: #545454; }

.page-lp-reborn01 .l-to-top {
  background-image: url(../../img/i/iqlp_reborn01_btn_lp_to_top-min.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 210px 64px;
  width: 210px;
  height: 64px;
  margin: 0 auto;
  padding: 10px 0 0 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  color: #545454; }

.page-lp-reborn01 .c-footer {
  margin-top: 50px;
  padding: 38px 10px 43px;
  background-color: #e4e4e4;
  color: #545454; }
  .page-lp-reborn01 .c-footer__link-children:nth-child(1), .page-lp-reborn01 .c-footer__link-children:nth-child(2) {
    border-right: #545454 solid 1px; }
  .page-lp-reborn01 .c-footer .c-text-link {
    color: #545454; }

.content-box {
  position: relative;
  height: 1136px; }

.page-top-start {
  position: absolute; }
  .page-top-start .top-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .page-top-start .diagnosis {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px; }
  .page-top-start .btn-diagnosis {
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 600px; }
    .page-top-start .btn-diagnosis img {
      width: 100%;
      height: 100%; }
  .page-top-start .c-btn-skip {
    position: absolute;
    bottom: -95px;
    left: 50%;
    margin-left: -118px; }

.page-stage {
  position: absolute;
  height: 1136px; }
  .page-stage .c-btn-skip {
    position: absolute;
    bottom: 264px;
    left: 50%;
    margin-left: -118px; }
  .page-stage .q1 {
    background: url(../../img/i/text-q1-min.png) no-repeat;
    width: 75px;
    height: 52px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -38px; }
  .page-stage .q2 {
    background: url(../../img/i/text-q2-min.png) no-repeat;
    width: 76px;
    height: 51px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -38px; }
  .page-stage .q3 {
    background: url(../../img/i/text-q3-min.png) no-repeat;
    width: 77px;
    height: 51px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -38px; }
  .page-stage .header {
    background: url(../../img/i/header-min.png) no-repeat;
    width: 640px;
    height: 88px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 2; }
  .page-stage .bg {
    background: url(../../img/i/bg-diagnosis-question-min.png) no-repeat;
    min-height: 900px;
    width: 640px; }
  .page-stage .btn-no {
    background: url(../../img/i/btn-no-min.png) no-repeat;
    width: 211px;
    height: 88px;
    color: rgba(0, 0, 0, 0); }
  .page-stage .btn-yes {
    background: url(../../img/i/btn-yes-min.png) no-repeat;
    width: 211px;
    height: 88px;
    color: rgba(0, 0, 0, 0); }
  .page-stage .diagnosis-box {
    background: url(../../img/i/bg-diagnosis-box-min.png) no-repeat;
    width: 587px;
    height: 444px;
    position: absolute;
    top: 314px;
    left: 50%;
    margin-left: -294px; }
    .page-stage .diagnosis-box .navigation {
      position: absolute;
      top: 272px;
      left: 50%;
      margin-left: -224px;
      width: 448px;
      height: 90px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .page-stage .diagnosis-box p {
      position: absolute;
      top: 136px;
      width: 500px;
      height: 80px;
      left: 50%;
      margin-left: -250px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }

.page-result {
  position: absolute;
  height: 1136px; }
  .page-result .c-btn-skip {
    position: absolute;
    bottom: 264px;
    left: 50%;
    margin-left: -118px; }
  .page-result .result-title {
    background: url(../../img/i/text-result-min.png) no-repeat;
    width: 326px;
    height: 69px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -163px; }
  .page-result .header {
    background: url(../../img/i/header-min.png) no-repeat;
    width: 640px;
    height: 88px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 2; }
  .page-result .bg {
    background: url(../../img/i/bg-result-min.png) no-repeat;
    height: 1136px;
    width: 640px; }
  .page-result .registration {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 106px; }
  .page-result .result-view {
    width: 640px;
    height: 446px;
    position: absolute;
    top: 508px; }
    .page-result .result-view .p1 {
      color: #fff;
      text-align: center;
      font-size: 26px; }
    .page-result .result-view .p2 {
      font-size: 26px;
      text-align: center; }
      .page-result .result-view .p2 em {
        font-size: 36px;
        font-weight: bold; }
    .page-result .result-view .p3 {
      text-align: center;
      font-size: 26px; }
    .page-result .result-view .view-num {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-bottom: 20px; }
      .page-result .result-view .view-num [class^="no"] {
        margin: 0 5px; }
    .page-result .result-view .view-list {
      position: relative;
      height: 143px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-result .result-view .view-list li {
        -webkit-box-flex: 1;
        -webkit-flex: auto 0 0;
            -ms-flex: auto 0 0px;
                flex: auto 0 0;
        margin: 0 -10px; }
        .page-result .result-view .view-list li:nth-child(4) {
          z-index: 4; }
        .page-result .result-view .view-list li:nth-child(3), .page-result .result-view .view-list li:nth-child(5) {
          z-index: 3; }
        .page-result .result-view .view-list li:nth-child(2), .page-result .result-view .view-list li:nth-child(6) {
          z-index: 2; }
        .page-result .result-view .view-list li:nth-child(1), .page-result .result-view .view-list li:nth-child(7) {
          z-index: 1; }
  .page-result .no1 {
    background: url(../../img/i/1-min.png) no-repeat;
    width: 51px;
    height: 127px; }
  .page-result .no2 {
    background: url(../../img/i/2-min.png) no-repeat;
    width: 89px;
    height: 130px; }
  .page-result .no3 {
    background: url(../../img/i/3-min.png) no-repeat;
    width: 88px;
    height: 133px; }
  .page-result .no4 {
    background: url(../../img/i/4-min.png) no-repeat;
    width: 92px;
    height: 130px; }
  .page-result .no5 {
    background: url(../../img/i/5-min.png) no-repeat;
    width: 87px;
    height: 130px; }
  .page-result .no6 {
    background: url(../../img/i/6-min.png) no-repeat;
    width: 81px;
    height: 133px; }
  .page-result .no7 {
    background: url(../../img/i/7-min.png) no-repeat;
    width: 84px;
    height: 130px; }
  .page-result .no8 {
    background: url(../../img/i/8-min.png) no-repeat;
    width: 89px;
    height: 133px; }
  .page-result .no9 {
    background: url(../../img/i/9-min.png) no-repeat;
    width: 81px;
    height: 133px; }
  .page-result .photo1 {
    background: url(../../img/i/photo1-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo2 {
    background: url(../../img/i/photo2-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo3 {
    background: url(../../img/i/photo3-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo4 {
    background: url(../../img/i/photo4-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo5 {
    background: url(../../img/i/photo5-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo6 {
    background: url(../../img/i/photo6-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo7 {
    background: url(../../img/i/photo7-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo8 {
    background: url(../../img/i/photo8-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo9 {
    background: url(../../img/i/photo9-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .photo10 {
    background: url(../../img/i/photo10-min.png) no-repeat;
    width: 105px;
    height: 105px; }
  .page-result .text-registration {
    background: url(../../img/i/balloon-min.png) no-repeat;
    width: 128px;
    height: 89px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -92px;
    left: 30px;
    z-index: 1; }
  .page-result .btn-registration {
    display: block;
    background: url(../../img/i/btn-registration-min.png) no-repeat;
    width: 548px;
    height: 106px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -274px; }
  .page-result .diagnosis-box {
    background: url(../../img/i/bg-result-diagnosis-box-min.png) no-repeat;
    width: 587px;
    height: 382px;
    position: absolute;
    top: 107px;
    left: 50%;
    margin-left: -294px; }
    .page-result .diagnosis-box .text-box {
      width: 460px;
      position: absolute;
      top: 126px;
      left: 50%;
      margin-left: -230px; }
    .page-result .diagnosis-box .p-text {
      width: 460px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 26px;
      line-height: 145%; }
    .page-result .diagnosis-box .p-type {
      width: 460px;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      color: #e95a6c;
      margin-bottom: 18px;
      line-height: 36px; }

.fade-enter {
  /*開始の状態を指定する*/
  opacity: 0; }

.fade-enter-to {
  /*終了の状態を指定する*/
  opacity: 1; }

.fade-leave {
  opacity: 1; }

.fade-leave-to {
  opacity: 0; }

.fade-enter-active {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s; }

.fade-leave-active {
  -webkit-transition: opacity .4s;
  transition: opacity .4s; }

.fs-b {
  font-size: 2.4rem !important; }

.fs-s {
  font-size: 2rem !important; }

.fs-l {
  font-size: 3rem !important; }

.fs-xl {
  font-size: 3.6rem !important; }

.fs-xxl {
  font-size: 4.6rem !important; }

.op-0 {
  opacity: 0; }

.fc-base {
  color: #000 !important; }

.fc-light {
  color: #fff !important; }

.fc-em {
  color: #fb0078 !important; }

.fc-notification {
  color: #a5a5a5 !important; }

.bg-base {
  background-color: #000 !important; }

.bg-light {
  background-color: #fff !important; }

.bg-section-light2 {
  background-color: #e7e1cd !important; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.ta-c {
  text-align: center; }

.fw-n {
  font-weight: normal !important; }

.fw-b {
  font-weight: bold !important; }

.td-u {
  text-decoration: underline; }

.pe-n {
  pointer-events: none !important; }

.pe-a {
  pointer-events: auto !important; }

.mt-b0 {
  margin-top: 0px !important; }

.mt-b {
  margin-top: 4px !important; }

.mt-b1 {
  margin-top: 4px !important; }

.mt-b2 {
  margin-top: 8px !important; }

.mt-b3 {
  margin-top: 12px !important; }

.mt-b4 {
  margin-top: 16px !important; }

.mt-b5 {
  margin-top: 20px !important; }

.mt-b6 {
  margin-top: 24px !important; }

.mt-b7 {
  margin-top: 28px !important; }

.mt-b8 {
  margin-top: 32px !important; }

.mt-b9 {
  margin-top: 36px !important; }

.mt-b10 {
  margin-top: 40px !important; }

.mt-b11 {
  margin-top: 44px !important; }

.mt-b12 {
  margin-top: 48px !important; }

.mb-b0 {
  margin-bottom: 0px !important; }

.mb-b {
  margin-bottom: 4px !important; }

.mb-b1 {
  margin-bottom: 4px !important; }

.mb-b2 {
  margin-bottom: 8px !important; }

.mb-b3 {
  margin-bottom: 12px !important; }

.mb-b4 {
  margin-bottom: 16px !important; }

.mb-b5 {
  margin-bottom: 20px !important; }

.mb-b6 {
  margin-bottom: 24px !important; }

.mb-b7 {
  margin-bottom: 28px !important; }

.mb-b8 {
  margin-bottom: 32px !important; }

.mb-b9 {
  margin-bottom: 36px !important; }

.mb-b10 {
  margin-bottom: 40px !important; }

.mb-b11 {
  margin-bottom: 44px !important; }

.mb-b12 {
  margin-bottom: 48px !important; }

.ml-b0 {
  margin-left: 0px !important; }

.ml-b {
  margin-left: 4px !important; }

.ml-b1 {
  margin-left: 4px !important; }

.ml-b2 {
  margin-left: 8px !important; }

.ml-b3 {
  margin-left: 12px !important; }

.ml-b4 {
  margin-left: 16px !important; }

.ml-b5 {
  margin-left: 20px !important; }

.mr-b0 {
  margin-right: 0px !important; }

.mr-b {
  margin-right: 4px !important; }

.mr-b1 {
  margin-right: 4px !important; }

.mr-b2 {
  margin-right: 8px !important; }

.mr-b3 {
  margin-right: 12px !important; }

.mr-b4 {
  margin-right: 16px !important; }

.mr-b5 {
  margin-right: 20px !important; }

.mr-a {
  margin-right: auto !important; }

.ml-a {
  margin-left: auto !important; }

.mlr-a {
  margin-left: auto !important;
  margin-right: auto !important; }

.po-s {
  position: static !important; }

.po-r {
  position: relative !important; }

.po-a {
  position: absolute !important; }

.po-f {
  position: fixed !important; }

.pt-b0 {
  padding-top: 0px !important; }

.pt-b {
  padding-top: 4px !important; }

.pt-b1 {
  padding-top: 4px !important; }

.pt-b2 {
  padding-top: 8px !important; }

.pt-b3 {
  padding-top: 12px !important; }

.pt-b4 {
  padding-top: 16px !important; }

.pt-b5 {
  padding-top: 20px !important; }

.pt-b6 {
  padding-top: 24px !important; }

.pt-b7 {
  padding-top: 28px !important; }

.pt-b8 {
  padding-top: 32px !important; }

.pt-b9 {
  padding-top: 36px !important; }

.pt-b10 {
  padding-top: 40px !important; }

.pt-b11 {
  padding-top: 44px !important; }

.pt-b12 {
  padding-top: 48px !important; }

.pb-b0 {
  padding-bottom: 0px !important; }

.pb-b {
  padding-bottom: 4px !important; }

.pb-b1 {
  padding-bottom: 4px !important; }

.pb-b2 {
  padding-bottom: 8px !important; }

.pb-b3 {
  padding-bottom: 12px !important; }

.pb-b4 {
  padding-bottom: 16px !important; }

.pb-b5 {
  padding-bottom: 20px !important; }

.pb-b6 {
  padding-bottom: 24px !important; }

.pb-b7 {
  padding-bottom: 28px !important; }

.pb-b8 {
  padding-bottom: 32px !important; }

.pb-b9 {
  padding-bottom: 36px !important; }

.pb-b10 {
  padding-bottom: 40px !important; }

.pb-b11 {
  padding-bottom: 44px !important; }

.pb-b12 {
  padding-bottom: 48px !important; }

.pl-b0 {
  padding-left: 0px !important; }

.pl-b {
  padding-left: 4px !important; }

.pl-b1 {
  padding-left: 4px !important; }

.pl-b2 {
  padding-left: 8px !important; }

.pl-b3 {
  padding-left: 12px !important; }

.pl-b4 {
  padding-left: 16px !important; }

.pl-b5 {
  padding-left: 20px !important; }

.pr-b0 {
  padding-right: 0px !important; }

.pr-b {
  padding-right: 4px !important; }

.pr-b1 {
  padding-right: 4px !important; }

.pr-b2 {
  padding-right: 8px !important; }

.pr-b3 {
  padding-right: 12px !important; }

.pr-b4 {
  padding-right: 16px !important; }

.pr-b5 {
  padding-right: 20px !important; }

.di-f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.box-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.box-cc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.box-cb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.img-rep {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%; }

.di-n {
  display: none !important; }

.di-i {
  display: inline !important; }

.di-ib {
  display: inline-block !important; }

.di-b {
  display: block !important; }

.zi-0 {
  z-index: 0 !important; }

.zi-1 {
  z-index: 1 !important; }

.zi-2 {
  z-index: 2 !important; }

.zi-3 {
  z-index: 3 !important; }

.zi-4 {
  z-index: 4 !important; }

.zi-5 {
  z-index: 5 !important; }

.zi-6 {
  z-index: 6 !important; }

.zi-7 {
  z-index: 7 !important; }

.zi-8 {
  z-index: 8 !important; }

.zi-9 {
  z-index: 9 !important; }

.zi-10 {
  z-index: 10 !important; }

.wb-ba {
  word-break: break-all; }

.img-full {
  width: 100%;
  display: block; }
