@import "setting";
@import "default";
@import "sprite";
@import "component";

// componentに対してのadjust
@import "adjust";


@mixin img-background ($image: false, $position: false, $repeat: false, $pixelRatio: 2, $width: false, $height: false, $bg-width: false, $bg-height: false) {
    $image: unquote($image);
    $image-path-for-compass: $image;
    $background-image-width: false;
    $background-image-height: false;
    @if $image != false {background-image: url($image);}
    @if $position != false {background-position: $position;}
    @if $repeat != false {background-repeat: $repeat;}

    @if ($bg-width != false and $bg-height != false) {
        $background-image-width: $bg-width / $pixelRatio;
        $background-image-height: $bg-height / $pixelRatio;
        background-size: #{$background-image-width} $background-image-height;
    }

    @if $width  == none {} @else if $width  != false {width: $width;}   @else if $bg-width != false {width: $background-image-width;}
    @if $height == none {} @else if $height != false {height: $height;} @else if $bg-height != false {height: $background-image-height;}
};

@import "page";
@import "helper";