@import "setting";
@import "default";
@import "sprite";
@import "component";

// componentに対してのadjust
@import "adjust";


@mixin img-background ($image: false, $position: false, $repeat: false, $pixelRatio: 2, $width: false, $height: false, $bg-width: false, $bg-height: false) {
    $image: unquote($image);
    $image-path-for-compass: $image;
    $background-image-width: false;
    $background-image-height: false;
    @if $image != false {background-image: url($image);}
    @if $position != false {background-position: $position;}
    @if $repeat != false {background-repeat: $repeat;}

    @if ($bg-width != false and $bg-height != false) {
        $background-image-width: $bg-width / $pixelRatio;
        $background-image-height: $bg-height / $pixelRatio;
        background-size: #{$background-image-width} $background-image-height;
    }

    @if $width  == none {} @else if $width  != false {width: $width;}   @else if $bg-width != false {width: $background-image-width;}
    @if $height == none {} @else if $height != false {height: $height;} @else if $bg-height != false {height: $background-image-height;}
};

//==========================================
//
// LP
//
//==========================================

.page-lp-reborn01 {
    img {
        display: block;
    }
    .l-btn-registration {
        width: responsiveX(140, 278);
        display: block;
        &:nth-of-type(1) {
            margin-right: 10px;
        }
        img {
            width: 100%;
        }
    }
    .l-caption {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        margin-bottom: 15px;
        padding: 10px 0;
        background-color: #e92377;
        color: #fff;
        font-size: 1.5rem;
        line-height: 1.4;
        &__small {
            font-size: 1rem;
        }
        &__em {
            font-size: 2rem;
        }
    }
    .block-registration {
        &.is-capture {
            &:before {
                display: none;
            }
        }
        &:before {
            display: block;
            content: "";
            @include img-background(
                $image: '../img/iqlp_reborn01_bg_text_registration_top-min.png',
                $position: 50% 0,
                $repeat: repeat-x,
                $width: 100%,
                $pixelRatio: 2,
                $bg-width: 640px,
                $bg-height: 22px
            );
        }
        &__inner {
            box-sizing: border-box;
            @include img-background(
                $image: '../img/iqlp_reborn01_bg_text_registration_middle-min.png',
                $position: 0 0,
                $repeat: repeat,
                $width: 100%,
                $height: auto,
                $pixelRatio: 2
            );
            background-size: 100% auto;
            padding: 10px 0;
        }
        &:after {
            display: block;
            content: "";
            @include img-background(
                $image: '../img/iqlp_reborn01_bg_text_registration_bottom-min.png',
                $position: 50% 0,
                $repeat: repeat-x,
                $width: 100%,
                $pixelRatio: 2,
                $bg-width: 640px,
                $bg-height: 22px
            );
        }
    }
    .l-em {
        color: #fe0000;
    }
    .l-notice {
        margin: 0 14px 24px;
        li {
            text-indent: -1.0rem;
            padding: 0 0 3px 10px;
            line-height: 1.4;
            font-size: 1.0rem;
            color: #545454;
        }
    }
    .l-to-top {
        @include img-background(
            $image: '../img/iqlp_reborn01_btn_lp_to_top-min.png',
            $position: 0 0,
            $repeat: no-repeat,
            $pixelRatio: 2,
            $bg-width: 210px,
            $bg-height: 64px
        );
        margin: 0 auto;
        padding: 7px 0 0 30px;
        box-sizing: border-box;
        display: block;
        color: #545454;
    }
    .c-footer {
        margin-top: 50px;
        padding: 38px 10px 43px;
        background-color: #e4e4e4;
        color: #545454;
        &__link-children {
            &:nth-child(1),
            &:nth-child(2) {
                border-right: #545454 solid 1px;
            }
        }
        .c-text-link {
            color: #545454;
        }
    }
}

@import "helper";